<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../core-ajax/core-ajax.html">

<!--
Element providing a list of applications assigned to a logged in user

##### Example

    <okta-app-list org="yourdomain.okta.com"></okta-app-list>

@element okta-app-list
@blurb Element providing a list of applications assigned to a logged in user
@status alpha
@homepage http://shawndrape.github.io/okta-app-list
-->
<polymer-element name="okta-app-list" attributes="org filter">

  <template>

    <link rel="stylesheet" href="okta-app-list.css" />
    <!-- <input value="{{ filter }}"></input> -->
      <core-ajax auto withCredentials url="{{ org && 'https://' + org + '/api/v1/users/me/appLinks' }}"
        handleAs='json'
        on-core-response="{{handleResponse}}"></core-ajax>
      <ul>
      <template id="core" repeat="{{apps}}">
        <!-- <template if="{{ label | isFiltered }}"> -->
          <li class="listItem">
            <a href="{{linkUrl}}">
              <img dragable="false" src="{{logoUrl}}"></img>
            </a>
            <span>{{label}}</span>
          </li>
        <!-- </template> -->
      </template>
      </ul>
  </template>

  <script>

    Polymer('okta-app-list', {
      /**
       * The `org` attribute indicates the Okta instance to pull apps from
       *
       * 
       * @attribute org
       * @type string
       */
      org: '',

      /**
      * The `filter` attribute allows you to select a subset of the user's applications
      *
      *
      * @attribute filter
      * @type string
      */
      filter: '',

      ready: function() {
      },

      handleResponse: function(resp) {
        this.$.core.model = {apps: resp.detail.response};
      }

      // isFiltered: function(value){
      //   return (this.filter == '' || value.indexOf(this.filter) != 1);
      // }

    });

  </script>

</polymer-element>
